html {
  box-sizing: border-box;

  font-family: $fonts-main;
  font-size: $font-base;
//  hyphens: auto;
}


*, *:before, *:after {
  box-sizing: inherit;

  @include outline;
}


p {
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 1.4;
  text-indent: 3rem;
}


.hidden {
  display: none;
}