html {
  box-sizing: border-box;

  font-family: $fonts-main;
  font-size: $font-base;
  hyphens: auto; // not supported in chrome
}


*, *:before, *:after {
  box-sizing: inherit;

  @include outline;
}


p {
  padding: 1rem;
  font-size: 1.4rem;
}


.hidden {
  display: none;
}