@mixin list-init {
  margin: 0;
  padding: 0;
  list-style: none;

  li {

    &:before,
    &:after {
      content: none;
    }
  }
}

@mixin transition ($what: all, $duration: .2s, $timing: ease-out, $delay: 0) {
  transition-property: $what;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}


@mixin centerV {
  top: 50%;
  transform: translateY(-50%);
}


@mixin centerH {
  left: 50%;
  transform: translateX(-50%);
}


@mixin centerHV {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin outline ($size: 1px, $type: dotted, $color: rgba(255, 0, 0, 1)) {

  @if variable-exists(outline-debug) {
    outline: $size $type $color;
  }
}